# Docker 

## Postgres 
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=ubrun

# Drizzle 
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ubrun

# Better Auth 
# cf doc drizzle for generate key
BETTER_AUTH_SECRET=dK2DYNgXQ0hzDFy4QS1kUytK5AKPN4QS
BETTER_AUTH_URL=http://localhost:3000